Whatsapp Automation/AI WhatsApp Appointment Booking/whatsapp-appointment-booking.json
{
  "name": "WhatsApp Appointment Booking (Ollama + Google Calendar + Gmail)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET,POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "whatsapp_webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.query && $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is_verification_request",
      "name": "Is Verification Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "YOUR_VERIFY_TOKEN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "token_valid",
      "name": "Token Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond_challenge",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        -150
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond_forbidden",
      "name": "Respond Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst entry = body && body.entry && body.entry[0];\nconst change = entry && entry.changes && entry.changes[0];\nconst value = change && change.value;\nconst message = value && value.messages && value.messages[0];\n\nif (!message) {\n  return [{ json: { noMessage: true } }];\n}\n\nconst phone = message.from;\nconst name = (value.contacts && value.contacts[0] && value.contacts[0].profile && value.contacts[0].profile.name) || 'Customer';\nconst phoneNumberId = value.metadata && value.metadata.phone_number_id;\nlet text = '';\nif (message.type === 'text') {\n  text = message.text.body;\n} else {\n  text = '[unsupported message type]';\n}\n\nreturn [{\n  json: {\n    noMessage: false,\n    phone,\n    name,\n    phoneNumberId,\n    text,\n    messageId: message.id\n  }\n}];"
      },
      "id": "extract_message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        220,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.noMessage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has_message",
      "name": "Has Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond_ok_no_message",
      "name": "Respond OK No Message",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const phone = $json.phone;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.conversations) staticData.conversations = {};\nconst state = staticData.conversations[phone] || {\n  intent: null,\n  date: null,\n  time: null,\n  time_range: null,\n  selected_slot: null,\n  name: null,\n  email: null,\n  status: 'new',\n  history: []\n};\n\nreturn [{\n  json: {\n    ...$json,\n    state\n  }\n}];"
      },
      "id": "load_conversation_state",
      "name": "Load Conversation State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const systemPrompt = `You are a friendly WhatsApp appointment booking assistant.\nGuide users through booking appointments naturally.\n\nRules:\n- Speak conversationally, ask ONE question at a time.\n- Understand natural language dates/times, convert dates to YYYY-MM-DD and times to 24h HH:MM.\n- Never ask for info already provided (see known state below).\n- If date is missing, ask for the date. If time is missing, ask for preferred time or time_range (morning/afternoon/evening).\n- If a calendar check is needed, set action to \"CHECK_CALENDAR\".\n- If slot confirmed available and name is missing, ask for full name with action \"REPLY\".\n- After name is known and email missing, ask for email with action \"REPLY\".\n- Once name, email, date and time are all known, set action \"CREATE_EVENT\".\n- Never mention APIs, Google Calendar, n8n, or internal systems.\n\nRespond ONLY with valid JSON, no extra text, in this exact shape:\n{\n  \"action\": \"REPLY\" | \"CHECK_CALENDAR\" | \"CREATE_EVENT\",\n  \"reply\": \"message to send the user, or null if action is CHECK_CALENDAR/CREATE_EVENT and reply will be generated after backend result\",\n  \"date\": \"YYYY-MM-DD or null\",\n  \"time\": \"HH:MM or null\",\n  \"time_range\": \"morning|afternoon|evening or null\",\n  \"name\": \"string or null\",\n  \"email\": \"string or null\"\n}`;\n\nconst state = $json.state;\nconst history = state.history || [];\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  { role: 'system', content: `Known state so far: ${JSON.stringify(state)}` },\n  ...history,\n  { role: 'user', content: $json.text }\n];\n\nreturn [{ json: { ...$json, ollamaMessages: messages } }];"
      },
      "id": "build_ollama_messages",
      "name": "Build Ollama Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama3.1', messages: $json.ollamaMessages, stream: false, format: 'json' }) }}",
        "options": {}
      },
      "id": "call_ollama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "let content = ($json.message && $json.message.content) || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = { action: 'REPLY', reply: \"Sorry, could you rephrase that?\" };\n}\n\nconst prev = $('Load Conversation State').first().json;\nconst state = prev.state;\n\nif (parsed.date) state.date = parsed.date;\nif (parsed.time) state.time = parsed.time;\nif (parsed.time_range) state.time_range = parsed.time_range;\nif (parsed.name) state.name = parsed.name;\nif (parsed.email) state.email = parsed.email;\nstate.status = parsed.action;\n\nreturn [{\n  json: {\n    ...prev,\n    action: parsed.action,\n    aiReply: parsed.reply,\n    state\n  }\n}];"
      },
      "id": "parse_ai_response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1320,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CHECK_CALENDAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CHECK_CALENDAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CREATE_EVENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CREATE_EVENT"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      },
      "id": "route_action",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1540,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $json.state;\nconst day = state.date || new Date(Date.now() + 86400000).toISOString().slice(0, 10);\nconst timeMin = `${day}T00:00:00`;\nconst timeMax = `${day}T23:59:59`;\nreturn [{ json: { ...$json, day, timeMin, timeMax } }];"
      },
      "id": "prepare_freebusy_range",
      "name": "Prepare FreeBusy Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ timeMin: $json.timeMin, timeMax: $json.timeMax, timeZone: 'UTC', items: [{ id: 'primary' }] }) }}",
        "options": {}
      },
      "id": "get_freebusy",
      "name": "Get FreeBusy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const busy = ($json.calendars && $json.calendars.primary && $json.calendars.primary.busy) || [];\nconst state = $('Load Conversation State').first().json.state;\nconst day = $json.day;\n\nconst workStart = 9, workEnd = 17, slotMin = 30;\nlet slots = [];\nfor (let h = workStart; h < workEnd; h++) {\n  for (let m = 0; m < 60; m += slotMin) {\n    const start = new Date(`${day}T${String(h).padStart(2, '0')}:${String(m).padStart(2, '0')}:00`);\n    const end = new Date(start.getTime() + slotMin * 60000);\n    const overlaps = busy.some(b => {\n      const bs = new Date(b.start), be = new Date(b.end);\n      return start < be && end > bs;\n    });\n    if (!overlaps) slots.push(`${String(h).padStart(2, '0')}:${String(m).padStart(2, '0')}`);\n  }\n}\n\nconst range = state.time_range;\nif (range === 'morning') slots = slots.filter(s => s < '12:00');\nif (range === 'afternoon') slots = slots.filter(s => s >= '12:00' && s < '17:00');\nif (range === 'evening') slots = slots.filter(s => s >= '17:00');\n\nconst top3 = slots.slice(0, 3);\nconst listText = top3.map(s => `\u2022 ${s}`).join('\\n');\nconst replyText = top3.length\n  ? `Here are the available times:\\n\\n${listText}\\n\\nWhich works best for you?`\n  : `Sorry, no slots are available then. Could you try another day?`;\n\nreturn [{ json: { ...$json, finalReply: replyText, availableSlots: top3 } }];"
      },
      "id": "compute_available_slots",
      "name": "Compute Available Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2200,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $json.state;\nconst start = `${state.date}T${state.time}:00`;\nconst startDate = new Date(start);\nconst end = new Date(startDate.getTime() + 30 * 60000);\nconst pad = n => String(n).padStart(2, '0');\nconst endStr = `${state.date}T${pad(end.getHours())}:${pad(end.getMinutes())}:00`;\n\nreturn [{\n  json: {\n    ...$json,\n    eventBody: {\n      summary: `Appointment - ${state.name}`,\n      description: 'Booked via WhatsApp AI Assistant',\n      start: { dateTime: start },\n      end: { dateTime: endStr },\n      attendees: [{ email: state.email }]\n    }\n  }\n}];"
      },
      "id": "prepare_event_body",
      "name": "Prepare Event Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1760,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.eventBody) }}",
        "options": {}
      },
      "id": "create_calendar_event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        600
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.state.email }}",
        "subject": "Appointment Confirmed",
        "message": "=Hello {{ $json.state.name }},\\n\\nYour appointment has been confirmed.\\n\\nDate: {{ $json.state.date }}\\nTime: {{ $json.state.time }}\\n\\nThank you.\\nWe look forward to seeing you.",
        "options": {}
      },
      "id": "send_confirmation_email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2200,
        600
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const state = $json.state;\nconst replyText = `You're all set! Your appointment is confirmed for ${state.date} at ${state.time}. I've also sent a confirmation email to ${state.email}.`;\nreturn [{ json: { ...$json, finalReply: replyText } }];"
      },
      "id": "set_confirmation_reply",
      "name": "Set Confirmation Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2420,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, finalReply: $json.aiReply } }];"
      },
      "id": "set_direct_reply",
      "name": "Set Direct Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1760,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const phone = $json.phone;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.conversations) staticData.conversations = {};\nconst state = $json.state;\nstate.history = state.history || [];\nstate.history.push({ role: 'user', content: $json.text });\nstate.history.push({ role: 'assistant', content: $json.finalReply });\nif (state.history.length > 20) state.history = state.history.slice(-20);\nstaticData.conversations[phone] = state;\n\nreturn [{ json: { ...$json } }];"
      },
      "id": "save_conversation_state",
      "name": "Save Conversation State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2640,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.phoneNumberId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, text: { body: $json.finalReply } }) }}",
        "options": {}
      },
      "id": "send_whatsapp_reply",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "WhatsApp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond_success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3080,
        400
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Verification Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Verification Request": {
      "main": [
        [
          {
            "node": "Token Valid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid": {
      "main": [
        [
          {
            "node": "Respond Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Has Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message": {
      "main": [
        [
          {
            "node": "Respond OK No Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Conversation State": {
      "main": [
        [
          {
            "node": "Build Ollama Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ollama Messages": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Prepare FreeBusy Range",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Event Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Direct Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare FreeBusy Range": {
      "main": [
        [
          {
            "node": "Get FreeBusy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FreeBusy": {
      "main": [
        [
          {
            "node": "Compute Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Available Slots": {
      "main": [
        [
          {
            "node": "Save Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Event Body": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Set Confirmation Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Confirmation Reply": {
      "main": [
        [
          {
            "node": "Save Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Direct Reply": {
      "main": [
        [
          {
            "node": "Save Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation State": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}