Whatsapp Automation/Whatsapp Faqs Handler/smile-dental-whatsapp-bot.json
{
  "name": "Smile Dental - WhatsApp AI Receptionist",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "smile-dental",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Verify Webhook (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 0],
      "webhookId": "a1111111-1111-1111-1111-111111111111"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.query[\"hub.verify_token\"] }}",
              "rightValue": "smile_dental_verify_123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2222222-2222-2222-2222-222222222222",
      "name": "Check Verify Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-980, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {}
      },
      "id": "a3333333-3333-3333-3333-333333333333",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-760, -80]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "a4444444-4444-4444-4444-444444444444",
      "name": "Respond Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-760, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smile-dental",
        "responseMode": "onReceived",
        "responseData": "success",
        "options": {}
      },
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "Receive Message (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 300],
      "webhookId": "b1111111-1111-1111-1111-111111111111"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-980, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst value = body.entry[0].changes[0].value;\nconst message = value.messages[0];\n\nconst from = message.from;\nconst text = message.text?.body || '';\nconst phoneNumberId = value.metadata.phone_number_id;\n\nreturn [{ json: { from, text, phoneNumberId } }];"
      },
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-760, 220]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "FAQs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b4444444-4444-4444-4444-444444444444",
      "name": "Read FAQs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-540, 220],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst faqText = rows.map(r => `Q: ${r.Question}\\nA: ${r.Answer}`).join('\\n\\n');\n\nreturn [{\n  json: {\n    faqText,\n    from: $('Extract Message').first().json.from,\n    text: $('Extract Message').first().json.text,\n    phoneNumberId: $('Extract Message').first().json.phoneNumberId\n  }\n}];"
      },
      "id": "b5555555-5555-5555-5555-555555555555",
      "name": "Format FAQs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama3\",\n  stream: false,\n  prompt: \"You are an AI receptionist for Smile Dental Clinic.\\n\\nUse ONLY the FAQ information provided below.\\n\\nFAQ:\\n\" + $json.faqText + \"\\n\\nUser Message:\\n\" + $json.text + \"\\n\\nInstructions:\\n- Answer only using the provided FAQ data.\\n- If the answer isn't available, reply exactly: \\\"I'm sorry, I don't have that information. I'll forward your question to our receptionist.\\\"\\n- Keep responses under 80 words.\\n- Be friendly and professional.\"\n}) }}",
        "options": {}
      },
      "id": "b6666666-6666-6666-6666-666666666666",
      "name": "Ask Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-100, 220]
    },
    {
      "parameters": {
        "jsCode": "const aiText = $input.first().json.response || \"I'm sorry, I don't have that information. I'll forward your question to our receptionist.\";\n\nreturn [{\n  json: {\n    reply: aiText.trim(),\n    to: $('Format FAQs').first().json.from,\n    phoneNumberId: $('Format FAQs').first().json.phoneNumberId\n  }\n}];"
      },
      "id": "b7777777-7777-7777-7777-777777777777",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WHATSAPP_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: \"whatsapp\",\n  to: $json.to,\n  type: \"text\",\n  text: { body: $json.reply }\n}) }}",
        "options": {}
      },
      "id": "b8888888-8888-8888-8888-888888888888",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 220]
    }
  ],
  "connections": {
    "Verify Webhook (GET)": {
      "main": [
        [
          { "node": "Check Verify Token", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Verify Token": {
      "main": [
        [
          { "node": "Respond Challenge", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond Forbidden", "type": "main", "index": 0 }
        ]
      ]
    },
    "Receive Message (POST)": {
      "main": [
        [
          { "node": "Has Message?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          { "node": "Extract Message", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Extract Message": {
      "main": [
        [
          { "node": "Read FAQs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read FAQs": {
      "main": [
        [
          { "node": "Format FAQs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format FAQs": {
      "main": [
        [
          { "node": "Ask Ollama", "type": "main", "index": 0 }
        ]
      ]
    },
    "Ask Ollama": {
      "main": [
        [
          { "node": "Parse AI Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          { "node": "Send WhatsApp Reply", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "smile-dental-whatsapp-bot"
  }
}
